# Get Stock Code

[[2] KOSPI 주식 종목 리스트 가져오기 -pandas.read_csv](https://pydata.tistory.com/2)

In [1]:
import pandas as pd

In [11]:
kospi = pd.read_csv('metadata/kospi.csv', error_bad_lines=False)
kosdaq = pd.read_csv('metadata/kosdaq.csv', error_bad_lines=False)
konex = pd.read_csv('metadata/konex.csv', error_bad_lines=False)

b'Skipping line 437: expected 12 fields, saw 13\n'
b'Skipping line 853: expected 12 fields, saw 14\n'

In [9]:
kospi.head()

,번호,종목코드,기업명,업종코드,업종,상장주식수(주),자본금(원),액면가(원),통화구분,대표전화,주소,총카운트
0,1,095570,AJ네트웍스,147603.0,산업용 기계 및 장비 임대업,"46,822,295","46,822,295,000","1,000",원(KRW),02-6363-9999,"서울특별시 송파구 정의로8길 9 (문정동,AJ빌딩)",789.0
1,2,068400,AJ렌터카,147601.0,운송장비 임대업,"22,146,300","11,073,150,000",500,원(KRW),1544-1600,서울특별시 구로구 서부샛길 822,789.0
2,3,006840,AK홀딩스,116409.0,기타 금융업,"13,247,561","66,237,805,000","5,000",원(KRW),02-768-2923,서울특별시 마포구 양화로 188 -,789.0
3,4,027410,BGF,116409.0,기타 금융업,"95,716,791","95,716,791,000","1,000",NaN,1577-3663,서울특별시 강남구 테헤란로 405,789.0
4,5,282330,BGF리테일,74701.0,종합 소매업,"17,283,906","17,283,906,000","1,000",원(KRW),02-1577-8007,서울특별시 강남구 테헤란로 405 BGF사옥,789.0

In [10]:
kosdaq.head()

,번호,종목코드,기업명,업종코드,업종,상장주식수(주),자본금(원),액면가(원),통화구분,대표전화,주소,총카운트
0,1,060310,3S,032902,특수 목적용 기계 제조업,"44,772,143","22,386,071,500",500,원(KRW),02-896-9474,서울특별시 금천구 시흥대로71길 30-1,1365
1,2,054620,APS홀딩스,116409,기타 금융업,"20,394,221","10,197,110,500",500,원(KRW),031-776-1800,경기도 화성시 동탄면 동탄산단9길 23-12 (동탄면),1365
2,3,265520,AP시스템,032902,특수 목적용 기계 제조업,"14,099,511","7,049,755,500",500,원(KRW),031-379-2700,경기도 화성시 동탄면 동탄산단8길 15-5 &nbsp,1365
3,4,211270,AP위성,032604,통신 및 방송 장비 제조업,"15,014,804","7,507,402,000",500,원(KRW),02-2026-7800,서울특별시 금천구 가산디지털2로 98 IT캐슬 2동 9층 &nbsp,1365
4,5,035760,CJ ENM,106002,텔레비전 방송업,"21,929,154","110,577,370,000","5,000",원(KRW),02-2107-0114,서울특별시 서초구 과천대로 870-13,1365

In [12]:
konex.head()

,Unnamed: 0,종목코드,기업명,업종코드,업종,상장주식수(주),자본금(원),액면가(원),통화구분,대표전화,주소,소속기업부,지정자문인
0,NaN,112190,KC산업,32303,"시멘트, 석회, 플라스터 및 그 제품 제조업","7,125,253","3,562,626,500",500,원(KRW),031-883-8684,경기도 여주시 가남읍 가남로 465,일반 기업부,하이투자증권㈜
1,NaN,183350,LPK로보틱스,32902,특수 목적용 기계 제조업,"4,698,324","2,349,162,000",500,원(KRW),032-341-1645,인천광역시 부평구 부평대로329번길 86-,일반 기업부,KB증권㈜
2,NaN,224880,SGA임베디드,105802,소프트웨어 개발 및 공급업,"4,918,165","2,459,082,500",500,원(KRW),070-7410-9319,"서울특별시 송파구 법원로11길 25에이동 908호(문정동, 에이치비지니스파크)",일반 기업부,㈜상상인증권
3,NaN,284610,TS트릴리온,32004,기타 화학제품 제조업,"37,657,000","3,765,700,000",100,원(KRW),02-785-8296,"서울특별시 영등포구 양평로 96 1층,6층,8층(양평동4가, 티에스빌딩)",일반 기업부,하나금융투자㈜
4,NaN,183410,골프존데카,32702,"측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외","4,111,161","2,055,580,500",500,원(KRW),1644-8481,"경기도 성남시 분당구 판교로 253C동 303호 (삼평동, 판교이노밸리)",일반 기업부,하이투자증권㈜