In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

## Data From Yahoo Finance

- Only provides daily data (no mins, secs)

In [3]:
from data_io import download_stock_data, load_stock_data

In [4]:
download_stock_data('data/samsung.data', '005930', 2015, 1, 1, 2015, 11, 30)

               High      Low     Open    Close      Volume   Adj Close
Date
2015-01-02  26800.0  26540.0  26800.0  26600.0   8774950.0  257.958313
2015-01-05  26720.0  26260.0  26720.0  26660.0  10139500.0  258.540161
2015-01-06  26340.0  25760.0  26300.0  25900.0  15235500.0  251.169937
2015-01-07  26220.0  25640.0  25880.0  26140.0  14322750.0  253.497406
2015-01-08  26780.0  26200.0  26780.0  26280.0  14477600.0  254.855087
...             ...      ...      ...      ...         ...         ...
2015-11-25  26200.0  25980.0  26000.0  25980.0   7131350.0  262.204163
2015-11-26  26800.0  25980.0  25980.0  26700.0   9290000.0  269.470734
2015-11-27  26980.0  26540.0  26900.0  26540.0   8492700.0  267.855957
2015-11-30  26500.0  25680.0  26500.0  25680.0  26700300.0  259.176392
2015-12-01  26440.0  25760.0  25880.0  26420.0  12605650.0  266.644897

[229 rows x 6 columns]

In [5]:
df = load_stock_data('data/samsung.data')